.focus{
    outline:none !important;
    border: 2px solid hsl(248, 32%, 49%);
    color:rgb(0,0,0);
    caret-color: hsl(248, 32%, 49%);
}

.input{
    background-image: url("./images/icon-error.svg");
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 50%;
    border: 2px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}
#action{
    width:100%;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 0;
    color:hsl(0, 100%, 74%);
    font-size: 16px;
    display: block;
}